<article class="row mb-4">
  <div class="col-sm-4">
    {% thumbnail product.image_url "400x400" crop="80% top" as im %}
    <a href="{{ product.url }}" target="_blank">
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
        loading="lazy" class="img-thumbnail" alt="Pochette de {{ product.title }}">
    </a>
    {% endthumbnail %}
  </div>
  <div class="col-sm-8">
    <h1 class="h2"><a href="{{ product.url }}" target="_blank">{{ product.title }}</a>
    </h1>
    {% if product.description %}{{ product.description|linebreaks }}{% endif %}
    <p>
      <span
        class="badge text-bg-dark">{{ product.get_medium_display|default:'?' }}</span>
      <span class="badge text-bg-dark">{{ product.get_availability_display }}</span>
    </p>
    <p><a href="{{ product.url }}" target="_blank"
        class="btn btn-primary">{{ product.price_in_eur }} sur {{ product.shop }}</a>
    </p>
  </div>
</article>

<h2>Disques associés</h2>
<section class="row row-cols-2 row-cols-md-5 row-cols-lg-6 g-4">
  {% for product in product.related_products %}{% include "_product_card.html" %}{% endfor %}
</section>
