<div class="col">
  <article class="card h-100" id="product_{{ product.pk }}">
    {% thumbnail product.image_url "300x300" crop="80% top" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
      loading="lazy" class="card-img-top" alt="Pochette de {{ product.title }}">
    {% endthumbnail %}
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ product.get_absolute_url }}" class="stretched-link"
          data-hx-boost="true" data-hx-target="main">{{ product.title }}</a>
      </h5>
      <p class="card-text">
        {% if product.medium %}
        <span class="medium">{{ product.get_medium_display }}</span>
        {% endif %}
        <span class="price">{{ product.price_in_eur }}</span>
        <span>{{ product.shop }}</span>
      </p>
    </div>
  </article>
</div>
