<h1 class="mb-4">Bac {{ search }}</h1>

<form class="row mb-4" data-hx-target="#results"
  data-hx-trigger="keyup delay:500ms, change"
  data-hx-get="{{ search.get_absolute_url }}" data-hx-push-url="true">
  <div class="col">
    {% render_field filter_form.query placeholder=filter_form.query.label type="search" class+="form-control" %}
  </div>
  <div class="col">
    {% render_field filter_form.medium class+="form-select" %}
  </div>
  <div class="col">
    {% render_field filter_form.availability class+="form-select" %}
  </div>
  <div class="col">
    {% render_field filter_form.condition class+="form-select" %}
  </div>
  <div class="col">
    <button class="btn btn-outline-success" type="submit" id="filter-btn">
      <span class="spinner-border spinner-border-sm htmx-indicator" role="status"
        aria-hidden="true">
        <span class="visually-hidden">En cours...</span>
      </span>
      Filter
    </button>
  </div>
</form>
<div id="results" class="table-responsive" data-hx-get="{{ search.get_absolute_url }}"
  data-hx-trigger="every 3s">
  {% include "_products_table.html" %}
</div>
