<!doctype html>
<html class="no-js" lang="fr">
<head>
  <meta charset="utf-8">
  <title>Disquonnecté</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container mx-auto">
    <div class="bg-red-200 border-l-4 border-red-500 text-red-700 p-4 mb-5" role="alert">
        <p class="font-bold">Disquonnecté</p>
        <p>Lapin internet.</p>
    </div>
    <button type="button">⤾ Reload</button>
    <img src="{% static 'images/logo.svg' %}" class="animate-spin mx-auto">

</body>

<script>
    // Manual reload feature.
    document.querySelector("button").addEventListener("click", () => {
        window.location.reload();
    });
    
    // Listen to changes in the network state, reload when online.
    // This handles the case when the device is completely offline.
    window.addEventListener('online', () => {
        window.location.reload();
    });

    // Check if the server is responding and reload the page if it is.
    // This handles the case when the device is online, but the server
    // is offline or misbehaving.
    async function checkNetworkAndReload() {
        try {
            const response = await fetch('.');
            // Verify we get a valid response from the server
            if (response.status >= 200 && response.status < 500) {
                window.location.reload();
                return;
            }
        } catch {
            // Unable to connect to the server, ignore.
        }
        window.setTimeout(checkNetworkAndReload, 2500);
    }

    checkNetworkAndReload();
</script>

</html>