@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply leading-normal tracking-normal;
    @apply text-gray-700;
}

button {
    @apply inline-flex justify-center;
    @apply py-2 px-4;
    @apply border border-transparent shadow-sm;
    @apply text-sm font-medium leading-6;
}

button.primary {
    @apply text-white bg-red-500;
    &:hover {
        @apply bg-red-700;
    }
}

input, select {
    @apply py-2 px-3;
    @apply text-gray-900;
    @apply border-gray-200 !important;
}

figure {
    @apply relative;
    .cover {
        @apply object-cover w-full;
        height: 200px;
    }
    .details {
        @apply absolute top-0 right-0 bottom-0 h-10;
        @apply py-2 px-4;
        @apply flex space-x-0;
        .medium {
            @apply inline-flex items-center;
            @apply pl-2 pr-1 py-1;
            @apply text-xs text-gray-50 uppercase font-bold;
            @apply bg-red-500;
            @apply rounded-l-full;
        }
        .price {
            @apply inline-flex items-center;
            @apply pr-2 pl-1 py-1;
            @apply text-xs text-gray-900 uppercase font-bold;
            @apply bg-gray-50;
            @apply rounded-r-full;
        }
    }
    .shop {
        @apply absolute left-0 top-0 h-16;
        @apply py-2 px-4;
        @apply text-white text-sm font-bold;
    }
    figcaption {
        @apply absolute inset-x-0 bottom-0 h-16;
        @apply py-2 px-4;
        @apply text-white text-xs;
        @apply bg-gray-900 bg-opacity-75;
        @apply line-clamp-2;
    }
}

#results {
    @apply grid lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-4;
    @apply pb-4;
}